<div class="container-total">
  <div class="container-form">
    <div class="container">
      <form id="form">
        <h3>Create new product</h3>
        <div class="content">
          <div class="input-box">
            <label for="title">Title:</label>
            <input
              type="text"
              name="title"
              id="title"
              placeholder="Product title"
              
            />
          </div>
          <div class="input-box">
            <label for="description">Description:</label>
            <input
              type="text"
              name="description"
              id="description"
              placeholder="Product description"
              
            />
          </div>
          <div class="input-box">
            <label for="category">Category:</label>
            <input
              type="text"
              name="category"
              id="category"
              placeholder="Product category"
              
            />
          </div>
          <div class="input-box">
            <label for="code">Code:</label>
            <input
              type="text"
              name="code"
              id="code"
              placeholder="Product code"
             
            />
          </div>
          <div class="input-box">
            <label for="price">Price:</label>
            <input
              type="number"
              name="price"
              id="price"
              placeholder="Product price"
              
            />
          </div>
          <div class="input-box">
            <label for="stock">Stock:</label>
            <input
              type="number"
              name="stock"
              id="stock"
              placeholder="Product stock"
              
            />
          </div>
        </div>
        <div class="error-container">
          
        </div>
        <div class="button-container">
          <button type="submit" id="sendProduct">Create product</button>
        </div>
      </form>
    </div>
  </div>

  <div class="container-products">
    <h2>Products</h2>
    <div class="products-content" id="productsContent"></div>
    <div class="products-no-find"></div>
  </div>

</div>

<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="/js/index.js"></script>